body {
    font-size: 16px;
}

#error {
    color: darkred;
}

.hide {
    display: none;
}

.node {
    display: inline-block;
    
    position: relative;
    top: 8px;
    
    margin: 0 3px;
    padding: 0 5px;

    background-color: white;
    
    border: 1px solid black;
    border-radius: 5px;

    font-family: monospace;
    font-size: 14px;
    text-align: center;
    
    white-space: nowrap;
}

.label {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 10px;
    text-align: left;
}

.highlight {
    background-color: pink;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

.svghide {
    width: 0;
    height: 0;
}

.arrowhead {
    fill: black;
}

.arrow {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    
    marker-end: url(#arrowhead);
}